bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/converter/xsd2relaxng/preparationTests/subExt.rng

<?xml version="1.0"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <choice>
            <choice>
                <notAllowed/>
                <element name="D">
                    <optional>
                        <attribute name="bbb">
                            <data type="string"/>
                        </attribute>
                    </optional>
                    <ref name="anonymous1"/>
                </element>
            </choice>
            <choice>
                <notAllowed/>
                <ref name="anonymous0"/>
            </choice>
            <choice>
                <notAllowed/>
                <element name="root">
                    <ref name="C"/>
                </element>
            </choice>
            <ref name="C"/>
        </choice>
    </start>
    <define name="anonymous0">
        <element name="E">
            <ref name="AAA"/>
        </element>
    </define>
    <define name="anonymous1">
        <data type="integer"/>
    </define>
    <define name="C">
        <choice>
            <ref name="anonymous0"/>
            <element name="C">
                <ref name="AAA"/>
            </element>
        </choice>
    </define>
    <define name="AAA">
        <ref name="anonymous1"/>
        <empty/>
    </define>
</grammar>
