bonxai/src/test/java/de/tudortmund/cs/bonxai/relaxng/parser/rngs/IncludeTests/include_valid.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
    <include href="namespaces.rng">
        <start>
            <element name="start">
                <ref name="blub"/>
            </element>
        </start>
        <define name="bla">
            <text/>
        </define>
    </include>
    <define name="blub">
        <empty/>
    </define>
</grammar>
