bonxai/src/test/resources/tests/eu/fox7/bonxai/xsd/tools/interleaveHandlerTests/interleave_branchThree.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="C" xmlns:C="C" xmlns:D="D">
    
    <xs:import namespace="D" schemaLocation="interleave_branchFour.xsd"/>
    
    <xs:element name="elementThree"/>
    
    <xs:group name="groupThree">
        <xs:choice>
            <xs:element ref="C:elementThree"/>
            <xs:element name="bob"/> 
        </xs:choice>
    </xs:group>
    
</xs:schema>