bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/xsd/parser/xsds/choiceTests/choice_unsupported_content.xsd

<schema targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
 
  <element name="shipment">
    <complexType>
      <choice id="choice" >
        <element name="order" type="string" />
	  <group ref="group" />
	  <attribute name="bob"/>
	  <sequence/>
	  <any namespace ="##other" />
      </choice>
    </complexType>
  </element>

</schema>