bonxai/src/test/resources/tests/eu/fox7/bonxai/xsd/union/unionConstructor/B.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="www.Y.org" xmlns:y="www.Y.org"> 

    <xs:element name="y" type="y:foo"/>

    <xs:complexType name="foo">
        <xs:choice>
            <xs:element name="b" type="y:foo"/>
            <xs:element name="x" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:simpleType name="password">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
