bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/xsd/tools/interleaveHandlerTests/interleave_all.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="root">
        <xs:complexType>
            <xs:all>
                <xs:sequence>
                    <xs:element name="A"/>
                    <xs:element name="B"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:element name="C"/>
                    <xs:element name="D"/>
                </xs:sequence>
            </xs:all>
        </xs:complexType>
    </xs:element>

</xs:schema>
