bonxai/src/test/java/de/tudortmund/cs/bonxai/xsd/parser/xsds/anyAttributeTests/anyAttribute_invalid_processContent_value.xsd

<schema targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">

  <complexType name="first">
    <anyAttribute id="first" namespace="http://www.w3.org/1999/xhtml ##targetNamespace ##local" processContents="something"/>
  </complexType>

  <complexType name="second">
    <anyAttribute id="any" namespace="##any" processContents="skip"/>
  </complexType>

  <complexType name="third">
    <anyAttribute id="other" namespace="##other" processContents="strict"/>
  </complexType>

</schema>