bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/xsd/parser/xsds/attributeGroupTests/attributegroup_empty_id.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.example.org" xmlns="http://www.example.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:attributeGroup name="personattr" id="">
		<xs:attribute name="attr1" type="xs:string"/>
		<xs:attribute name="attr2" type="xs:integer"/>
	</xs:attributeGroup>

	<xs:complexType name="person">
	  <xs:attributeGroup ref="personattr"/>
	</xs:complexType>

</xs:schema>