bonxai/src/test/java/de/tudortmund/cs/bonxai/relaxng/parser/rngs/temp.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
        <element name="ab:addressBook" xmlns:ab="http://www.example.com/addressBook"
            xmlns:a="http://www.example.com/address">
            <zeroOrMore>
                <element name="ab:card">
                    <element name="a:name">
                        <text/>
                    </element>
                    <element name="a:email">
                        <text/>
                    </element>
                </element>
            </zeroOrMore>
        </element>
    </start>
</grammar>
