jedit/jedit-workbench/src/main/resources/samples/bonxai/converter/xsd2relaxng/simpleTypeConverterTests/inheritance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:simpleType name="BBB">
        <xsd:restriction base="AAA"/>
    </xsd:simpleType>

    <xsd:simpleType name="AAA">
        <xsd:list itemType="xsd:string"/>
    </xsd:simpleType>

    <xsd:element name="root" type="AAA"/>

</xsd:schema>
