bonxai/src/test/resources/tests/eu/fox7/bonxai/xsd/parser/xsds/choiceTests/choice_illegal_object_returned.xsd

<schema targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
 
  <element name="shipment">
    <complexType>
      <choice id="choice" >
        <element name="order" type="string" />
	  <group name="group" />
	  <choice/>
	  <sequence/>
	  <any namespace ="##other" />
      </choice>
    </complexType>
  </element>

</schema>