bonxai/src/test/resources/tests/eu/fox7/bonxai/xsd/parser/xsds/attributeTests/attribute_valid_attribute.xsd

<schema targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">

  <complexType name="complex">
    <attribute name="first" form="unqualified" id="id1" type="string" use="required" fixed="boo" />
  </complexType>

  <complexType name="type">
    <attribute name="second" default="6">
      <simpleType>
        <restriction base="integer">
          <maxInclusive value="1000"/>
        </restriction>
       </simpleType>
     </attribute>
  </complexType>

</schema>