bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/converter/xsd2relaxng/preparationTests/type_inheritance/Type_inheritance.rng

<?xml version="1.0"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <choice>
            <choice>
                <notAllowed/>
                <element name="e3">
                    <list>
                        <zeroOrMore>
                            <data type="anyURI"/>
                        </zeroOrMore>
                    </list>
                </element>
            </choice>
            <choice>
                <notAllowed/>
                <element name="e4">
                    <list>
                        <zeroOrMore>
                            <data type="decimal"/>
                        </zeroOrMore>
                    </list>
                </element>
            </choice>
            <ref name="e1"/>
            <ref name="e2"/>
            <choice>
                <notAllowed/>
                <element name="e12">
                    <optional>
                        <attribute name="attr2"/>
                    </optional>
                    <choice>
                        <element name="inner_e12">
                            <ref name="anyType"/>
                        </element>
                        <ref name="e2"/>
                    </choice>
                    <optional>
                        <attribute name="attr5"/>
                    </optional>
                </element>
            </choice>
            <choice>
                <notAllowed/>
                <element name="e11">
                    <optional>
                        <attribute name="attr4"/>
                    </optional>
                    <choice>
                        <element name="inner_e11">
                            <ref name="anyType"/>
                        </element>
                        <ref name="e1"/>
                    </choice>
                </element>
            </choice>
            <choice>
                <notAllowed/>
                <element name="e10">
                    <optional>
                        <attribute name="attr3"/>
                    </optional>
                </element>
            </choice>
            <choice>
                <notAllowed/>
                <element name="e9">
                    <data type="short"/>
                    <optional>
                        <attribute name="attr1"/>
                    </optional>
                </element>
            </choice>
            <choice>
                <notAllowed/>
                <element name="e8">
                    <optional>
                        <attribute name="attr2"/>
                    </optional>
                </element>
            </choice>
            <choice>
                <notAllowed/>
                <element name="e7">
                    <data type="dateTime"/>
                </element>
            </choice>
            <choice>
                <notAllowed/>
                <element name="e6">
                    <data type="QName">
                        <param name="length">3</param>
                    </data>
                </element>
            </choice>
            <choice>
                <notAllowed/>
                <element name="e5">
                    <choice>
                        <data type="boolean"/>
                        <data type="Name"/>
                        <data type="QName"/>
                        <data type="decimal"/>
                    </choice>
                </element>
            </choice>
        </choice>
    </start>
    <define name="e2">
        <choice>
            <notAllowed/>
            <element name="e2">
                <data type="decimal"/>
            </element>
        </choice>
    </define>
    <define name="anyType">
        <mixed>
            <zeroOrMore>
                <choice>
                    <attribute>
                        <anyName/>
                    </attribute>
                    <ref name="element0"/>
                </choice>
            </zeroOrMore>
        </mixed>
        <empty/>
    </define>
    <define name="e1">
        <choice>
            <notAllowed/>
            <element name="e1">
                <data type="int"/>
            </element>
        </choice>
    </define>
    <define name="element0">
        <element>
            <anyName/>
            <mixed>
                <zeroOrMore>
                    <choice>
                        <attribute>
                            <anyName/>
                        </attribute>
                        <ref name="element0"/>
                    </choice>
                </zeroOrMore>
            </mixed>
        </element>
    </define>
</grammar>
