jedit/jedit-workbench/src/main/resources/samples/demo/schemaA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://example.org/namespace" elementFormDefault="qualified" targetNamespace="http://example.org/namespace">
  <complexType name="root-type">
    <sequence>
      <element name="a" type="ctype"/>
      <choice maxOccurs="unbounded" minOccurs="0">
        <element name="a" type="ctype"/>
        <element name="b" type="ctype"/>
      </choice>
    </sequence>
  </complexType>
  <complexType name="ctype">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="c" type="string"/>
    </sequence>
  </complexType>
  <element name="r" type="root-type"/>
</schema>
