jedit/jedit-workbench/src/main/resources/samples/demo/schemaB.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://example.org/namespace" elementFormDefault="qualified" targetNamespace="http://example.org/namespace">
  <complexType name="rtype">
    <sequence>
      <element name="a" maxOccurs="unbounded" minOccurs="0" type="dtype"/>
      <element name="b" maxOccurs="unbounded" minOccurs="0" type="dtype"/>
    </sequence>
  </complexType>
  <complexType name="dtype">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="d" type="string"/>
    </sequence>
   </complexType>
  <element name="r" type="rtype"/>
</schema>
