bonxai/src/test/java/de/tudortmund/cs/bonxai/xsd/parser/xsds/uniqueTests/unique_valid.xsd

<schema targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">

  <element name="root">
    <complexType>
      <sequence>
        <element name="AAA" type="myAAA"/>
        <element name="BBB" type="myBBB"/>
      </sequence>
    </complexType>
    <unique name="myId" id="id">
      <selector xpath="./AAA/a"/>
      <field xpath="@id"/>
      <field xpath="@other"/>
    </unique>
  </element>

</schema>