bonxai/src/test/java/de/tudortmund/cs/bonxai/xsd/parser/xsds/foreignSchemaLoaderTests/test2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="www.example2.org" xmlns:test="www.example2.org">


    <xs:include schemaLocation="test.xsd"/>

    <xs:attribute name="hanz"/>
    <xs:attribute name="franz"/>
    
    <xs:attributeGroup name="deutscheSuperNamen" >
        <xs:attribute ref="test:hanz"/>
        <xs:attribute ref="test:franz"/>
        <xs:attribute name="heino"/>
    </xs:attributeGroup>
    
    
    <xs:complexType name="aba">
        <xs:sequence>
            <xs:element name="bob" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
