bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/converter/relaxng2xsd/rngs/definesAsTypes_test_03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="s">
    <xs:complexType/>
  </xs:element>
  <xs:group name="r">
    <xs:sequence>
      <xs:element ref="s"/>
      <xs:element ref="r"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="r">
    <xs:complexType/>
  </xs:element>
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="r"/>
        <xs:element ref="a"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="a">
    <xs:complexType/>
  </xs:element>
</xs:schema>
