jedit/jedit-workbench/src/main/resources/samples/bonxai/converter/xsd2relaxng/complexTypeConverterTests/inheritance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
        
    <xsd:element name="test" type="AAA"/>
    <xsd:element name="test2" type="BBB"/>
    <xsd:complexType name="AAA">
        <xsd:simpleContent>
            <xsd:extension base="xsd:integer"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="BBB">
        <xsd:simpleContent>
            <xsd:extension base="AAA"/>
        </xsd:simpleContent>
    </xsd:complexType>

</xsd:schema> 