bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/converter/xsd2relaxng/inheritanceInformationCollectorTests/inheritance_block_all.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
        
    <xsd:complexType name="AAA" block="#all">
        <xsd:simpleContent>
            <xsd:extension base="xsd:integer"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="BBB">
        <xsd:simpleContent>
            <xsd:extension base="AAA"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="CCC">
        <xsd:simpleContent>
            <xsd:restriction base="AAA"/>
        </xsd:simpleContent>
    </xsd:complexType>

</xsd:schema> 