jedit/jedit-workbench/src/main/resources/samples/bonxai/converter/xsd2relaxng/preparationTests/type_inheritance/Type_inheritance_11.rng

<?xml version="1.0"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <choice>
            <ref name="e1"/>
            <choice>
                <notAllowed/>
                <element name="e11">
                    <optional>
                        <attribute name="attr4"/>
                    </optional>
                    <choice>
                        <element name="inner_e11">
                            <mixed>
                                <zeroOrMore>
                                    <choice>
                                        <attribute>
                                            <anyName/>
                                        </attribute>
                                        <ref name="element0"/>
                                    </choice>
                                </zeroOrMore>
                            </mixed>
                        </element>
                        <ref name="e1"/>
                    </choice>
                </element>
            </choice>
        </choice>
    </start>
    <define name="e1">
        <choice>
            <notAllowed/>
            <element name="e1">
                <data type="int"/>
            </element>
        </choice>
    </define>
    <define name="element0">
        <element>
            <anyName/>
            <mixed>
                <zeroOrMore>
                    <choice>
                        <attribute>
                            <anyName/>
                        </attribute>
                        <ref name="element0"/>
                    </choice>
                </zeroOrMore>
            </mixed>
        </element>
    </define>
</grammar>
