bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/xsd/union/presentation/SchemaA_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="x" type="foo"/>
    
    <xs:complexType name="foo">
        <xs:choice>
            <xs:element name="a" type="bar"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="bar">
        <xs:choice>
            <xs:element name="a2" type="xs:string"/>
        </xs:choice>
    </xs:complexType>

</xs:schema>
