bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/xsd/union/presentation/SchemaB_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 

    <xs:element name="x" type="foo"/>

    <xs:complexType name="foo">
        <xs:choice>
            <xs:element name="b" type="bar"/>
        </xs:choice>
    </xs:complexType>

<!-- geht verloren! -->
    <xs:complexType name="bar">
        <xs:choice>
            <xs:element name="b2" type="xs:integer"/>
        </xs:choice>
    </xs:complexType>

</xs:schema>
