bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/xsd/parser/xsds/allTests/all_unsupported_content.xsd

<schema targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
 
  <element name="shipment">
    <complexType>
      <all id="all" >
        <element name="order" type="string" />
	  <attribute name="bob"/>
      </all >
    </complexType>
  </element>

</schema>