bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/relaxng/parser/rngs/newXMLDocument.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<grammar    xmlns="http://relaxng.org/ns/structure/1.0"
            xmlns:ab="http://www.example.com/addressBook"
            xmlns:a="http://www.example.com/address">
    <start>
        <ref name="addressBook_"/>
    </start>
    <define name="addressBook_">
        <element xmlns="http://relaxng.org/ns/structure/1.0">
            <name ns="">addressBook</name>
            <choice>
                <empty/>
                <oneOrMore>
                    <ref name="card_"/>
                </oneOrMore>
            </choice>
        </element>
    </define>
    <define name="card_">
        <element>
            <name ns="">card</name>
            <group>
                <group>
                    <group>
                        <ref name="name_"/>
                        <ref name="email_"/>
                    </group>
                    <attribute>
                        <name ns="">test</name>
                        <text/>
                    </attribute>
                </group>
                <ref name="address_"/>
            </group>
        </element>
    </define>
    <define name="name_">
        <element>
            <name ns="">name</name>
            <text/>
        </element>
    </define>
    <define name="email_">
        <element>
            <name ns="">email</name>
            <text/>
        </element>
    </define>
    <define name="address_">
        <element>
            <name ns="">address</name>
            <text/>
        </element>
    </define>
</grammar>