jedit/jedit-workbench/src/main/resources/samples/bonxai/converter/xsd2dtd/xsds/any.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <xs:element name="outerElement">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="allElement1"/>
                <xs:element name="allElement2"/>
                <xs:any/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
