bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/xsd/parser/xsds/anyAttributeTests/anyAttribute_valid.xsd

<schema targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">

  <complexType name="first">
    <anyAttribute id="first" namespace="http://www.w3.org/1999/xhtml ##targetNamespace ##local" processContents="lax"/>
  </complexType>

  <complexType name="second">
    <anyAttribute id="second" namespace="##any" processContents="skip"/>
  </complexType>

  <complexType name="third">
    <anyAttribute id="third" namespace="##other" processContents="strict"/>
  </complexType>

</schema>