bonxai/src/test/resources/tests/eu/fox7/bonxai/xsd/parser/xsds/unserXSD.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    
	<xs:complexType name="openAttrs">
        <xs:complexContent>
            <xs:restriction base="anyType">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="annotated">
        <xs:complexContent>
            <xs:extension base="openAttrs">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                </xs:sequence>
                <xs:attribute name="id" type="ID"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:simpleType name="formChoice">
        <xs:restriction base="NMTOKEN">
            <xs:enumeration value="qualified"/>
            <xs:enumeration value="unqualified"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="reducedDerivationControl">
        <xs:restriction base="derivationControl">
            <xs:enumeration value="extension"/>
            <xs:enumeration value="restriction"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="derivationSet">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="token">
                    <xs:enumeration value="#all"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:list itemType="reducedDerivationControl"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="typeDerivationControl">
        <xs:restriction base="derivationControl">
            <xs:enumeration value="extension"/>
            <xs:enumeration value="restriction"/>
            <xs:enumeration value="list"/>
            <xs:enumeration value="union"/>
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="fullDerivationSet">
        <xs:union>
            <xs:simpleType>
                <xs:list itemType="typeDerivationControl"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="token">
                    <xs:enumeration value="#all"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
	

    <xs:simpleType name="allNNI">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="NMTOKEN">
                    <xs:enumeration value="unbounded"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
	
	
    <xs:complexType name="attribute">
        <xs:complexContent>
            <xs:extension base="annotated">
                <xs:sequence>
                    <xs:element minOccurs="0" name="simpleType">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:restriction base="simpleType">
                                    <xs:sequence>
                                        <xs:element minOccurs="0" ref="annotation"/>
                                        <xs:group ref="simpleDerivation"/>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="anyType" use="prohibited"/>
                                    <xs:attribute name="final" type="anyType" use="prohibited"/>
                                    <xs:anyAttribute namespace="##other" processContents="lax"/>
                                </xs:restriction>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="defRef"/>
                <xs:attribute name="type" type="QName"/>
                <xs:attribute default="optional" name="use" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="NMTOKEN">
                            <xs:enumeration value="prohibited"/>
                            <xs:enumeration value="optional"/>
                            <xs:enumeration value="required"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="default" type="string"/>
                <xs:attribute name="fixed" type="string"/>
                <xs:attribute name="form" type="formChoice"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
	
    <xs:complexType name="topLevelAttribute">
        <xs:complexContent>
            <xs:restriction base="attribute">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                    <xs:element minOccurs="0" name="simpleType" type="localSimpleType"/>
                </xs:sequence>
                <xs:attribute name="ref" type="anyType" use="prohibited"/>
                <xs:attribute name="form" type="anyType" use="prohibited"/>
                <xs:attribute name="use" type="anyType" use="prohibited"/>
                <xs:attribute name="name" type="NCName" use="required"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="complexType">
        <xs:complexContent>
            <xs:extension base="annotated">
                <xs:group ref="complexTypeModel"/>
                <xs:attribute name="name" type="NCName"/>
                <xs:attribute default="false" name="mixed" type="boolean" use="optional"/>
                <xs:attribute default="false" name="abstract" type="boolean" use="optional"/>
                <xs:attribute name="final" type="derivationSet"/>
                <xs:attribute name="block" type="derivationSet"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="topLevelComplexType">
        <xs:complexContent>
            <xs:restriction base="complexType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                    <xs:group ref="complexTypeModel"/>
                </xs:sequence>
                <xs:attribute name="name" type="NCName" use="required"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="localComplexType">
        <xs:complexContent>
            <xs:restriction base="complexType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                    <xs:group ref="complexTypeModel"/>
                </xs:sequence>
                <xs:attribute name="name" type="anyType" use="prohibited"/>
                <xs:attribute name="abstract" type="anyType" use="prohibited"/>
                <xs:attribute name="final" type="anyType" use="prohibited"/>
                <xs:attribute name="block" type="anyType" use="prohibited"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="restrictionType">
        <xs:complexContent>
            <xs:extension base="annotated">
                <xs:sequence>
                    <xs:choice minOccurs="0">
                        <xs:group ref="typeDefParticle"/>
                        <xs:group ref="simpleRestrictionModel"/>
                    </xs:choice>
                    <xs:group ref="attrDecls"/>
                </xs:sequence>
                <xs:attribute name="base" type="QName" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="complexRestrictionType">
        <xs:complexContent>
            <xs:restriction base="restrictionType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                    <xs:choice minOccurs="0">
                        <xs:group ref="typeDefParticle"/>
                    </xs:choice>
                    <xs:group ref="attrDecls"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="extensionType">
        <xs:complexContent>
            <xs:extension base="annotated">
                <xs:sequence>
                    <xs:group ref="attrDecls"/>
                </xs:sequence>
                <xs:attribute name="base" type="QName" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="simpleRestrictionType">
        <xs:complexContent>
            <xs:restriction base="restrictionType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                    <xs:choice minOccurs="0">
                        <xs:group ref="simpleRestrictionModel"/>
                    </xs:choice>
                    <xs:group ref="attrDecls"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="simpleExtensionType">
        <xs:complexContent>
            <xs:restriction base="extensionType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                    <xs:group ref="attrDecls"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:simpleType name="blockSet">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="token">
                    <xs:enumeration value="#all"/> <xs:complexType name="element"
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:list>
                    <xs:simpleType>
                        <xs:restriction base="derivationControl">
                            <xs:enumeration value="extension"/>
                            <xs:enumeration value="restriction"/>
                            <xs:enumeration value="substitution"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:list>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
	
    <xs:complexType name="element">
        <xs:complexContent>
            <xs:extension base="annotated">
                <xs:sequence>
                    <xs:choice minOccurs="0">
                        <xs:element name="simpleType" type="localSimpleType"/>
                        <xs:element name="complexType" type="localComplexType"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attributeGroup ref="defRef"/>
                <xs:attribute name="type" type="QName"/>
                <xs:attribute name="substitutionGroup" type="QName"/>
                <xs:attributeGroup ref="occurs"/>
                <xs:attribute name="default" type="string"/>
                <xs:attribute name="fixed" type="string"/>
                <xs:attribute default="false" name="nillable" type="boolean" use="optional"/>
                <xs:attribute default="false" name="abstract" type="boolean" use="optional"/>
                <xs:attribute name="final" type="derivationSet"/>
                <xs:attribute name="block" type="blockSet"/>
                <xs:attribute name="form" type="formChoice"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
	
    <xs:complexType name="topLevelElement">
        <xs:complexContent>
            <xs:restriction base="element">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                    <xs:choice minOccurs="0">
                        <xs:element name="simpleType" type="localSimpleType"/>
                        <xs:element name="complexType" type="localComplexType"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attribute name="ref" type="anyType" use="prohibited"/>
                <xs:attribute name="form" type="anyType" use="prohibited"/>
                <xs:attribute name="minOccurs" type="anyType" use="prohibited"/>
                <xs:attribute name="maxOccurs" type="anyType" use="prohibited"/>
                <xs:attribute name="name" type="NCName" use="required"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="localElement">
        <xs:complexContent>
            <xs:restriction base="element">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                    <xs:choice minOccurs="0">
                        <xs:element name="simpleType" type="localSimpleType"/>
                        <xs:element name="complexType" type="localComplexType"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attribute name="substitutionGroup" type="anyType" use="prohibited"/>
                <xs:attribute name="final" type="anyType" use="prohibited"/>
                <xs:attribute name="abstract" type="anyType" use="prohibited"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="group">
        <xs:complexContent>
            <xs:extension base="annotated">
                <xs:group maxOccurs="unbounded" minOccurs="0" ref="particle"/>
                <xs:attributeGroup ref="defRef"/>
                <xs:attributeGroup ref="occurs"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="realGroup">
        <xs:complexContent>
            <xs:restriction base="group">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                    <xs:choice minOccurs="0">
                        <xs:element ref="all"/>
                        <xs:element ref="choice"/>
                        <xs:element ref="sequence"/>
                    </xs:choice>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="namedGroup">
        <xs:complexContent>
            <xs:restriction base="realGroup">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                    <xs:choice>
                        <xs:element name="all">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:restriction base="all">
                                        <xs:group ref="allModel"/>
                                        <xs:attribute name="minOccurs" type="anyType" use="prohibited"/>
                                        <xs:attribute name="maxOccurs" type="anyType" use="prohibited"/>
                                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="choice">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:restriction base="explicitGroup">
                                        <xs:sequence>
                                            <xs:element minOccurs="0" ref="annotation"/>
                                        </xs:sequence>
                                        <xs:attribute name="minOccurs" type="anyType" use="prohibited"/>
                                        <xs:attribute name="maxOccurs" type="anyType" use="prohibited"/>
                                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="sequence" type="simpleExplicitGroup"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attribute name="name" type="NCName" use="required"/>
                <xs:attribute name="ref" type="anyType" use="prohibited"/>
                <xs:attribute name="minOccurs" type="anyType" use="prohibited"/>
                <xs:attribute name="maxOccurs" type="anyType" use="prohibited"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="groupRef">
        <xs:complexContent>
            <xs:restriction base="realGroup">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                </xs:sequence>
                <xs:attribute name="ref" type="QName" use="required"/>
                <xs:attribute name="name" type="anyType" use="prohibited"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="explicitGroup">
        <xs:complexContent>
            <xs:restriction base="group">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                </xs:sequence>
                <xs:attribute name="name" type="NCName" use="prohibited"/>
                <xs:attribute name="ref" type="QName" use="prohibited"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="narrowMaxMin">
        <xs:complexContent>
            <xs:restriction base="localElement">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                    <xs:choice minOccurs="0">
                        <xs:element name="simpleType" type="localSimpleType"/>
                        <xs:element name="complexType" type="localComplexType"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attribute default="1" name="minOccurs" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="nonNegativeInteger">
                            <xs:enumeration value="0"/>
                            <xs:enumeration value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute default="1" name="maxOccurs" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="allNNI">
                            <xs:enumeration value="0"/>
                            <xs:enumeration value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="all">
        <xs:complexContent>
            <xs:restriction base="explicitGroup">
                <xs:group ref="allModel"/>
                <xs:attribute default="1" name="minOccurs" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="nonNegativeInteger">
                            <xs:enumeration value="0"/>
                            <xs:enumeration value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute default="1" name="maxOccurs" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="allNNI">
                            <xs:enumeration value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="wildcard">
        <xs:complexContent>
            <xs:extension base="annotated">
                <xs:attribute default="##any" name="namespace" type="namespaceList" use="optional"/>
                <xs:attribute default="strict" name="processContents" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="NMTOKEN">
                            <xs:enumeration value="skip"/>
                            <xs:enumeration value="lax"/>
                            <xs:enumeration value="strict"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:simpleType name="namespaceList">
        <xs:union>
            <xs:simpleType>
                <xs:list>
                    <xs:simpleType>
                        <xs:union>
                            <xs:simpleType>
                                <xs:restriction base="token">
                                    <xs:enumeration value="##targetNamespace"/>
                                    <xs:enumeration value="##local"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:union>
                    </xs:simpleType>
                </xs:list>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="token">
                    <xs:enumeration value="##any"/>
                    <xs:enumeration value="##other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:complexType name="attributeGroup">
        <xs:complexContent>
            <xs:extension base="annotated">
                <xs:group ref="attrDecls"/>
                <xs:attributeGroup ref="defRef"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="namedAttributeGroup">
        <xs:complexContent>
            <xs:restriction base="attributeGroup">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                    <xs:group ref="attrDecls"/>
                </xs:sequence>
                <xs:attribute name="name" type="NCName" use="required"/>
                <xs:attribute name="ref" type="anyType" use="prohibited"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="attributeGroupRef">
        <xs:complexContent>
            <xs:restriction base="attributeGroup">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                </xs:sequence>
                <xs:attribute name="ref" type="QName" use="required"/>
                <xs:attribute name="name" type="anyType" use="prohibited"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="keybase">
        <xs:complexContent>
            <xs:extension base="annotated">
                <xs:sequence>
                    <xs:element ref="selector"/>
                    <xs:element maxOccurs="unbounded" ref="field"/>
                </xs:sequence>
                <xs:attribute name="name" type="NCName" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="public">
        <xs:restriction base="token"/>
    </xs:simpleType>
    <xs:simpleType name="anyType"/>
    <xs:simpleType name="string">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="false" value="preserve"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="boolean">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="float">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="double">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="decimal">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="duration">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dateTime">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="time">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="date">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="gYearMonth">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="gYear">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="gMonthDay">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="gDay">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="gMonth">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="hexBinary">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="base64Binary">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="anyURI">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QName">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NOTATION">
        <xs:restriction base="anySimpleType">
            <xs:whiteSpace fixed="true" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="normalizedString">
        <xs:restriction base="string">
            <xs:whiteSpace fixed="false" value="replace"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="token">
        <xs:restriction base="normalizedString">
            <xs:whiteSpace fixed="false" value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="language">
        <xs:restriction base="token">
            <xs:pattern value="[a-zA-Z]{1,8}(-[a-zA-Z0-9]{1,8})*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IDREFS">
        <xs:restriction>
            <xs:simpleType>
                <xs:list itemType="IDREF"/>
            </xs:simpleType>
            <xs:minLength fixed="false" value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ENTITIES">
        <xs:restriction>
            <xs:simpleType>
                <xs:list itemType="ENTITY"/>
            </xs:simpleType>
            <xs:minLength fixed="false" value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NMTOKEN">
        <xs:restriction base="token">
            <xs:pattern value="\c+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NMTOKENS">
        <xs:restriction>
            <xs:simpleType>
                <xs:list itemType="NMTOKEN"/>
            </xs:simpleType>
            <xs:minLength fixed="false" value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Name">
        <xs:restriction base="token">
            <xs:pattern value="\i\c*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NCName">
        <xs:restriction base="Name">
            <xs:pattern value="[\i-[:]][\c-[:]]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ID">
        <xs:restriction base="NCName"/>
    </xs:simpleType>
    <xs:simpleType name="IDREF">
        <xs:restriction base="NCName"/>
    </xs:simpleType>
    <xs:simpleType name="ENTITY">
        <xs:restriction base="NCName"/>
    </xs:simpleType>
    <xs:simpleType name="integer">
        <xs:restriction base="decimal">
            <xs:fractionDigits fixed="true" value="0"/>
            <xs:pattern value="[\-+]?[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="nonPositiveInteger">
        <xs:restriction base="integer">
            <xs:maxInclusive fixed="false" value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="negativeInteger">
        <xs:restriction base="nonPositiveInteger">
            <xs:maxInclusive fixed="false" value="-1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="long">
        <xs:restriction base="integer">
            <xs:minInclusive fixed="false" value="-9223372036854775808"/>
            <xs:maxInclusive fixed="false" value="9223372036854775807"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="int">
        <xs:restriction base="long">
            <xs:minInclusive fixed="false" value="-2147483648"/>
            <xs:maxInclusive fixed="false" value="2147483647"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="short">
        <xs:restriction base="int">
            <xs:minInclusive fixed="false" value="-32768"/>
            <xs:maxInclusive fixed="false" value="32767"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="byte">
        <xs:restriction base="short">
            <xs:minInclusive fixed="false" value="-128"/>
            <xs:maxInclusive fixed="false" value="127"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="nonNegativeInteger">
        <xs:restriction base="integer">
            <xs:minInclusive fixed="false" value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="unsignedLong">
        <xs:restriction base="nonNegativeInteger">
            <xs:maxInclusive fixed="false" value="18446744073709551615"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="unsignedInt">
        <xs:restriction base="unsignedLong">
            <xs:maxInclusive fixed="false" value="4294967295"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="unsignedShort">
        <xs:restriction base="unsignedInt">
            <xs:maxInclusive fixed="false" value="65535"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="unsignedByte">
        <xs:restriction base="unsignedShort">
            <xs:maxInclusive fixed="false" value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="positiveInteger">
        <xs:restriction base="nonNegativeInteger">
            <xs:minInclusive fixed="false" value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="derivationControl">
        <xs:restriction base="NMTOKEN">
            <xs:enumeration value="substitution"/>
            <xs:enumeration value="extension"/>
            <xs:enumeration value="restriction"/>
            <xs:enumeration value="list"/>
            <xs:enumeration value="union"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="simpleDerivationSet">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="token">
                    <xs:enumeration value="#all"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:list>
                    <xs:simpleType>
                        <xs:restriction base="derivationControl">
                            <xs:enumeration value="list"/>
                            <xs:enumeration value="union"/>
                            <xs:enumeration value="restriction"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:list>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:complexType name="simpleType">
        <xs:complexContent>
            <xs:extension base="annotated">
                <xs:group ref="simpleDerivation"/>
                <xs:attribute name="final" type="simpleDerivationSet"/>
                <xs:attribute name="name" type="NCName"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="topLevelSimpleType">
        <xs:complexContent>
            <xs:restriction base="simpleType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                    <xs:group ref="simpleDerivation"/>
                </xs:sequence>
                <xs:attribute name="name" type="NCName" use="required"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="facet">
        <xs:complexContent>
            <xs:extension base="annotated">
                <xs:attribute name="value" type="anyType" use="required"/>
                <xs:attribute default="false" name="fixed" type="boolean" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="noFixedFacet">
        <xs:complexContent>
            <xs:restriction base="facet">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                </xs:sequence>
                <xs:attribute name="fixed" type="anyType" use="prohibited"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="numFacet">
        <xs:complexContent>
            <xs:restriction base="facet">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="annotation"/>
                </xs:sequence>
                <xs:attribute name="value" type="nonNegativeInteger" use="required"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:attributeGroup name="occurs">
        <xs:attribute default="1" name="minOccurs" type="nonNegativeInteger" use="optional"/>
        <xs:attribute default="1" name="maxOccurs" type="allNNI" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="defRef">
        <xs:attribute name="name" type="NCName"/>
        <xs:attribute name="ref" type="QName"/>
    </xs:attributeGroup>
    <xs:group name="redefinable">
        <xs:choice>
            <xs:element ref="simpleType"/>
            <xs:element ref="complexType"/>
            <xs:element ref="group"/>
            <xs:element ref="attributeGroup"/>
        </xs:choice>
    </xs:group>
    <xs:group name="schemaTop">
        <xs:choice>
            <xs:group ref="redefinable"/>
            <xs:element ref="element"/>
            <xs:element ref="attribute"/>
            <xs:element ref="notation"/>
        </xs:choice>
    </xs:group>
    <xs:group name="typeDefParticle">
        <xs:choice>
            <xs:element name="group" type="groupRef"/>
            <xs:element ref="all"/>
            <xs:element ref="choice"/>
            <xs:element ref="sequence"/>
        </xs:choice>
    </xs:group>
    <xs:group name="nestedParticle">
        <xs:choice>
            <xs:element name="element" type="localElement"/>
            <xs:element name="group" type="groupRef"/>
            <xs:element ref="choice"/>
            <xs:element ref="sequence"/>
            <xs:element ref="any"/>
        </xs:choice>
    </xs:group>
    <xs:group name="particle">
        <xs:choice>
            <xs:element name="element" type="localElement"/>
            <xs:element name="group" type="groupRef"/>
            <xs:element ref="all"/>
            <xs:element ref="choice"/>
            <xs:element ref="sequence"/>
            <xs:element ref="any"/>
        </xs:choice>
    </xs:group>
    <xs:group name="attrDecls">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="attribute" type="attribute"/>
                <xs:element name="attributeGroup" type="attributeGroupRef"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="anyAttribute"/>
        </xs:sequence>
    </xs:group>
    <xs:group name="complexTypeModel">
        <xs:choice>
            <xs:element ref="simpleContent"/>
            <xs:element ref="complexContent"/>
            <xs:sequence>
                <xs:group ref="attrDecls"/>
            </xs:sequence>
        </xs:choice>
    </xs:group>
    <xs:group name="simpleRestrictionModel">
        <xs:sequence>
            <xs:element minOccurs="0" name="simpleType" type="localSimpleType"/>
        </xs:sequence>
    </xs:group>
    <xs:group name="identityConstraint">
        <xs:choice>
            <xs:element ref="unique"/>
            <xs:element ref="key"/>
            <xs:element ref="keyref"/>
        </xs:choice>
    </xs:group>
    <xs:group name="allModel">
        <xs:sequence>
            <xs:element minOccurs="0" ref="annotation"/>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="element" type="narrowMaxMin"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    <xs:group name="simpleDerivation">
        <xs:choice>
            <xs:element ref="restriction"/>
            <xs:element ref="list"/>
            <xs:element ref="union"/>
        </xs:choice>
    </xs:group>
    <xs:group name="facets">
        <xs:choice>
            <xs:element ref="minExclusive"/>
            <xs:element ref="minInclusive"/>
            <xs:element ref="maxExclusive"/>
            <xs:element ref="maxInclusive"/>
            <xs:element ref="totalDigits"/>
            <xs:element ref="fractionDigits"/>
            <xs:element ref="length"/>
            <xs:element ref="minLength"/>
            <xs:element ref="maxLength"/>
            <xs:element ref="enumeration"/>
            <xs:element ref="whiteSpace"/>
            <xs:element ref="pattern"/>
        </xs:choice>
    </xs:group>
    <xs:element name="annotation">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="openAttrs">
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element ref="appinfo"/>
                        <xs:element ref="documentation"/>
                    </xs:choice>
                    <xs:attribute name="id" type="ID"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="element" type="topLevelElement"/>
    <xs:element name="attribute" type="topLevelAttribute"/>
    <xs:element name="notation">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="annotated">
                    <xs:attribute name="name" type="NCName" use="required"/>
                    <xs:attribute name="public" type="public"/>
                    <xs:attribute name="system" type="anyURI"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="simpleType" type="topLevelSimpleType"/>
    <xs:element name="complexType" type="topLevelComplexType"/>
    <xs:element name="group" type="namedGroup"/>
    <xs:element name="attributeGroup" type="namedAttributeGroup"/>
    <xs:element name="include">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="annotated">
                    <xs:attribute name="schemaLocation" type="anyURI" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="import">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="annotated">
                    <xs:attribute name="namespace" type="anyURI"/>
                    <xs:attribute name="schemaLocation" type="anyURI"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="redefine">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="openAttrs">
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element ref="annotation"/>
                        <xs:group ref="redefinable"/>
                    </xs:choice>
                    <xs:attribute name="schemaLocation" type="anyURI" use="required"/>
                    <xs:attribute name="id" type="ID"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="schema">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="openAttrs">
                    <xs:sequence>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                            <xs:element ref="include"/>
                            <xs:element ref="import"/>
                            <xs:element ref="redefine"/>
                            <xs:element ref="annotation"/>
                        </xs:choice>
                        <xs:sequence maxOccurs="unbounded" minOccurs="0">
                            <xs:group ref="schemaTop"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" ref="annotation"/>
                        </xs:sequence>
                    </xs:sequence>
                    <xs:attribute name="targetNamespace" type="anyURI"/>
                    <xs:attribute name="version" type="token"/>
                    <xs:attribute default="" name="finalDefault" type="fullDerivationSet" use="optional"/>
                    <xs:attribute default="" name="blockDefault" type="blockSet" use="optional"/>
                    <xs:attribute default="unqualified" name="attributeFormDefault" type="formChoice" use="optional"/>
                    <xs:attribute default="unqualified" name="elementFormDefault" type="formChoice" use="optional"/>
                    <xs:attribute name="id" type="ID"/>
                    <xs:attribute ref="xml:lang"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
		
        <xs:key name="element">
            <xs:selector xpath="xs:element"/>
            <xs:field xpath="@name"/>
        </xs:key>
        <xs:key name="attribute">
            <xs:selector xpath="xs:attribute"/>
            <xs:field xpath="@name"/>
        </xs:key>
        <xs:key name="type">
            <xs:selector xpath="xs:complexType|xs:simpleType"/>
            <xs:field xpath="@name"/>
        </xs:key>
        <xs:key name="group">
            <xs:selector xpath="xs:group"/>
            <xs:field xpath="@name"/>
        </xs:key>
        <xs:key name="attributeGroup">
            <xs:selector xpath="xs:attributeGroup"/>
            <xs:field xpath="@name"/>
        </xs:key>
        <xs:key name="notation">
            <xs:selector xpath="xs:notation"/>
            <xs:field xpath="@name"/>
        </xs:key>
        <xs:key name="identityConstraint">
            <xs:selector xpath=".//xs:key|.//xs:unique|.//xs:keyref"/>
            <xs:field xpath="@name"/>
        </xs:key>
    </xs:element>
    <xs:element name="all" type="all"/>
    <xs:element name="choice" type="explicitGroup"/>
    <xs:element name="sequence" type="explicitGroup"/>
    <xs:element name="any">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="wildcard">
                    <xs:attributeGroup ref="occurs"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="anyAttribute" type="wildcard"/>
    <xs:element name="simpleContent">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="annotated">
                    <xs:choice>
                        <xs:element name="restriction" type="simpleRestrictionType"/>
                        <xs:element name="extension" type="simpleExtensionType"/>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="complexContent">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="annotated">
                    <xs:choice>
                        <xs:element name="restriction" type="complexRestrictionType"/>
                        <xs:element name="extension" type="extensionType"/>
                    </xs:choice>
                    <xs:attribute name="mixed" type="boolean"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="selector">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="annotated">
                    <xs:attribute name="xpath" use="required">
                        <xs:simpleType>
                            <xs:restriction base="token">
                                <xs:pattern value="(\.//)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.)(/(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*(\|(\.//)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.)(/(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*)*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="field">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="annotated">
                    <xs:attribute name="xpath" use="required">
                        <xs:simpleType>
                            <xs:restriction base="token">
                                <xs:pattern value="(\.//)?((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)/)*((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*))))(\|(\.//)?((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)/)*((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*)))))*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="unique" type="keybase"/>
    <xs:element name="key" type="keybase"/>
    <xs:element name="keyref">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="keybase">
                    <xs:attribute name="refer" type="QName" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="appinfo">
        <xs:complexType mixed="true">
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:any namespace="##any" processContents="lax"/>
            </xs:sequence>
            <xs:attribute name="source" type="anyURI"/>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="documentation">
        <xs:complexType mixed="true">
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:any namespace="##any" processContents="lax"/>
            </xs:sequence>
            <xs:attribute name="source" type="anyURI"/>
            <xs:attribute ref="xml:lang"/>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="restriction">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="annotated">
                    <xs:group ref="simpleRestrictionModel"/>
                    <xs:attribute name="base" type="QName" use="optional"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="list">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="annotated">
                    <xs:sequence>
                        <xs:element minOccurs="0" name="simpleType" type="localSimpleType"/>
                    </xs:sequence>
                    <xs:attribute name="itemType" type="QName" use="optional"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="union">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="annotated">
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="simpleType" type="localSimpleType"/>
                    </xs:sequence>
                    <xs:attribute name="memberTypes" use="optional">
                        <xs:simpleType>
                            <xs:list itemType="QName"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="minExclusive" type="facet"/>
    <xs:element name="minInclusive" type="facet"/>
    <xs:element name="maxExclusive" type="facet"/>
    <xs:element name="maxInclusive" type="facet"/>
    <xs:element name="totalDigits">
        <xs:complexType>
            <xs:complexContent>
                <xs:restriction base="numFacet">
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="annotation"/>
                    </xs:sequence>
                    <xs:attribute name="value" type="positiveInteger" use="required"/>
                    <xs:anyAttribute namespace="##other" processContents="lax"/>
                </xs:restriction>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="fractionDigits" type="numFacet"/>
    <xs:element name="length" type="numFacet"/>
    <xs:element name="minLength" type="numFacet"/>
    <xs:element name="maxLength" type="numFacet"/>
    <xs:element name="enumeration" type="noFixedFacet"/>
    <xs:element name="whiteSpace">
        <xs:complexType>
            <xs:complexContent>
                <xs:restriction base="facet">
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="annotation"/>
                    </xs:sequence>
                    <xs:attribute name="value" use="required">
                        <xs:simpleType>
                            <xs:restriction base="NMTOKEN">
                                <xs:enumeration value="preserve"/>
                                <xs:enumeration value="replace"/>
                                <xs:enumeration value="collapse"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:anyAttribute namespace="##other" processContents="lax"/>
                </xs:restriction>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="pattern">
        <xs:complexType>
            <xs:complexContent>
                <xs:restriction base="noFixedFacet">
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="annotation"/>
                    </xs:sequence>
                    <xs:attribute name="value" type="string" use="required"/>
                    <xs:anyAttribute namespace="##other" processContents="lax"/>
                </xs:restriction>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
