bonxai/src/test/java/de/tudortmund/cs/bonxai/converter/xsd2relaxng/complexTypeConverterTests/simpleContentExtension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:element name="test" type="AAA"/>
    
    <xsd:complexType name="AAA">
        <xsd:simpleContent>
            <xsd:extension base="XXX"/>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="XXX">
        <xsd:restriction base="xsd:Name"/>
    </xsd:simpleType>
    
</xsd:schema>
