bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/xsd/parser/xsds/keyRefTests/keyRef_empty_field.xsd

<schema targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">

  <element name="root">
    <complexType>
      <sequence>
        <element name="AAA" type="myAAA"/>
        <element name="BBB" type="myBBB"/>
      </sequence>
    </complexType>
    <key name="myId">
      <selector xpath="./AAA/a"/>
      <field xpath="@id"/>
    </key>
    <keyref name="myIdref" id="myIdref" refer="myId">
      <selector xpath="./BBB/b"/>
      <field xpath=""/>
      <field xpath="@other"/>
    </keyref>
  </element> 

</schema>