bonxai/src/test/java/de/tudortmund/cs/bonxai/relaxng/tools/rngs/temp_problem.rng

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="http://www.w3.org/1999/xhtml">
  <start>
    <ref name="html" ns="http://www.w3.org/1999/xhtml"/>
  </start>
  <define name="Length.datatype">
    <text ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="LinkTypes.datatype">
    <ref name="NMTOKENS.datatype" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="MediaDesc.datatype">
    <text ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="MultiLength.datatype">
    <text ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Number.datatype">
    <text ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Pixels.datatype">
    <text ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Script.datatype">
    <text/>
  </define>
  <define name="Text.datatype">
    <text/>
  </define>
  <define name="Character.datatype">
    <text ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Charset.datatype">
    <text ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Charsets.datatype">
    <text ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="ContentType.datatype">
    <text ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="ContentTypes.datatype">
    <text ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Datetime.datatype">
    <text ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="FPI.datatype">
    <text/>
  </define>
  <define name="LanguageCode.datatype">
    <data type="language"/>
  </define>
  <define name="URI.datatype">
    <data type="anyURI"/>
  </define>
  <define name="URIs.datatype">
    <text ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="NMTOKEN.datatype">
    <data ns="http://www.w3.org/1999/xhtml" type="NMTOKEN"/>
  </define>
  <define name="NMTOKENS.datatype">
    <data type="NMTOKENS"/>
  </define>
  <define name="ID.datatype">
    <data type="ID"/>
  </define>
  <define name="IDREF.datatype">
    <data ns="http://www.w3.org/1999/xhtml" type="IDREF"/>
  </define>
  <define name="IDREFS.datatype">
    <data ns="http://www.w3.org/1999/xhtml" type="IDREFS"/>
  </define>
  <define name="id.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="id">
        <ref name="ID.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="class.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="class">
        <ref name="NMTOKENS.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="title.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="title">
        <ref name="Text.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="Core.attrib">
    <ref name="id.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="class.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="title.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="interleave" name="Core.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="style"/>
    </optional>
  </define>
  <define name="lang.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="xml:lang">
        <ref name="LanguageCode.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="I18n.attrib">
    <ref name="lang.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="interleave" name="I18n.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <ref name="dir.attrib" ns="http://www.w3.org/1999/xhtml"/>
    </optional>
  </define>
  <define name="Common.attrib">
    <ref name="Core.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="I18n.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="interleave" name="Common.attrib">
    <ref name="Events.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="CommonIdRequired.attrib">
    <attribute name="id">
      <ref name="ID.datatype"/>
    </attribute>
    <ref name="class.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="title.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="I18n.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="interleave" name="CommonIdRequired.attrib">
    <ref name="Events.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="title">
    <element name="title" ns="http://www.w3.org/1999/xhtml">
      <ref name="title.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <text ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="title.attlist">
    <ref name="I18n.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="head">
    <element name="head" ns="http://www.w3.org/1999/xhtml">
      <ref name="head.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="head.content" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="head.attlist">
    <ref name="I18n.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="profile.attlist" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="head.content">
    <ref name="title" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="interleave" name="head.content">
    <optional ns="http://www.w3.org/1999/xhtml">
      <ref name="base" ns="http://www.w3.org/1999/xhtml"/>
    </optional>
  </define>
  <define combine="interleave" name="head.content">
    <zeroOrMore ns="http://www.w3.org/1999/xhtml">
      <ref name="link" ns="http://www.w3.org/1999/xhtml"/>
    </zeroOrMore>
  </define>
  <define combine="interleave" name="head.content">
    <zeroOrMore ns="http://www.w3.org/1999/xhtml">
      <ref name="meta" ns="http://www.w3.org/1999/xhtml"/>
    </zeroOrMore>
  </define>
  <define combine="interleave" name="head.content">
    <zeroOrMore ns="http://www.w3.org/1999/xhtml">
      <ref name="style" ns="http://www.w3.org/1999/xhtml"/>
    </zeroOrMore>
  </define>
  <define combine="interleave" name="head.content">
    <zeroOrMore ns="http://www.w3.org/1999/xhtml">
      <ref name="script" ns="http://www.w3.org/1999/xhtml"/>
    </zeroOrMore>
  </define>
  <define name="profile.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="profile">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="body">
    <element name="body" ns="http://www.w3.org/1999/xhtml">
      <ref name="body.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Block.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="body.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="interleave" name="body.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onload">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onunload">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="html">
    <element name="html" ns="http://www.w3.org/1999/xhtml">
      <ref name="html.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="head" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="body" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="html.attlist">
    <ref name="XHTML.version.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="I18n.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="XHTML.version.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="version">
        <ref name="FPI.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="br">
    <element name="br" ns="http://www.w3.org/1999/xhtml">
      <ref name="br.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <empty ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="br.attlist">
    <ref name="Core.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="span">
    <element name="span" ns="http://www.w3.org/1999/xhtml">
      <ref name="span.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="span.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="abbr">
    <element name="abbr" ns="http://www.w3.org/1999/xhtml">
      <ref name="abbr.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="abbr.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="acronym">
    <element name="acronym" ns="http://www.w3.org/1999/xhtml">
      <ref name="acronym.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="acronym.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="cite">
    <element name="cite" ns="http://www.w3.org/1999/xhtml">
      <ref name="cite.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="cite.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="code">
    <element name="code" ns="http://www.w3.org/1999/xhtml">
      <ref name="code.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="code.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="dfn">
    <element name="dfn" ns="http://www.w3.org/1999/xhtml">
      <ref name="dfn.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="dfn.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="em">
    <element name="em" ns="http://www.w3.org/1999/xhtml">
      <ref name="em.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="em.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="kbd">
    <element name="kbd" ns="http://www.w3.org/1999/xhtml">
      <ref name="kbd.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="kbd.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="q">
    <element name="q" ns="http://www.w3.org/1999/xhtml">
      <ref name="q.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="q.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="cite">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="samp">
    <element name="samp" ns="http://www.w3.org/1999/xhtml">
      <ref name="samp.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="samp.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="strong">
    <element name="strong" ns="http://www.w3.org/1999/xhtml">
      <ref name="strong.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="strong.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="var">
    <element name="var" ns="http://www.w3.org/1999/xhtml">
      <ref name="var.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="var.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="div">
    <element name="div" ns="http://www.w3.org/1999/xhtml">
      <ref name="div.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Flow.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="div.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="p">
    <element name="p" ns="http://www.w3.org/1999/xhtml">
      <ref name="p.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="p.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="address">
    <element name="address" ns="http://www.w3.org/1999/xhtml">
      <ref name="address.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="address.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="blockquote">
    <element name="blockquote" ns="http://www.w3.org/1999/xhtml">
      <ref name="blockquote.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Block.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="blockquote.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="cite">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="pre">
    <element name="pre" ns="http://www.w3.org/1999/xhtml">
      <ref name="pre.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="pre.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="xml:space">
        <value>preserve</value>
      </attribute>
    </optional>
  </define>
  <define name="h1">
    <element name="h1" ns="http://www.w3.org/1999/xhtml">
      <ref name="Heading.attrib" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Heading.content" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="h2">
    <element name="h2" ns="http://www.w3.org/1999/xhtml">
      <ref name="Heading.attrib" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Heading.content" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="h3">
    <element name="h3" ns="http://www.w3.org/1999/xhtml">
      <ref name="Heading.attrib" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Heading.content" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="h4">
    <element name="h4" ns="http://www.w3.org/1999/xhtml">
      <ref name="Heading.attrib" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Heading.content" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="h5">
    <element name="h5" ns="http://www.w3.org/1999/xhtml">
      <ref name="Heading.attrib" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Heading.content" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="h6">
    <element name="h6" ns="http://www.w3.org/1999/xhtml">
      <ref name="Heading.attrib" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Heading.content" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="Heading.attrib">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Heading.content">
    <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Heading.class">
    <choice ns="http://www.w3.org/1999/xhtml">
      <ref name="h1" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="h2" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="h3" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="h4" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="h5" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="h6" ns="http://www.w3.org/1999/xhtml"/>
    </choice>
  </define>
  <define name="Block.class">
    <choice ns="http://www.w3.org/1999/xhtml">
      <ref name="address" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="blockquote" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="div" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="p" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="pre" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Heading.class" ns="http://www.w3.org/1999/xhtml"/>
    </choice>
  </define>
  <define combine="choice" name="Block.class">
    <ref name="List.class" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Block.class">
    <ref name="hr" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Block.class">
    <ref name="Edit.class" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Block.class">
    <ref name="Form.class" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Block.class">
    <ref name="Script.class" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Block.class">
    <ref name="table" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Inline.class">
    <choice ns="http://www.w3.org/1999/xhtml">
      <ref name="abbr" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="acronym" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="br" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="cite" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="code" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="dfn" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="em" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="kbd" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="q" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="samp" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="span" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="strong" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="var" ns="http://www.w3.org/1999/xhtml"/>
    </choice>
  </define>
  <define combine="choice" name="Inline.class">
    <ref name="a" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Inline.class">
    <ref name="img" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Inline.class">
    <ref name="object" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Inline.class">
    <ref name="bdo" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Inline.class">
    <choice ns="http://www.w3.org/1999/xhtml">
      <ref name="b" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="big" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="i" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="small" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="sub" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="sup" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="tt" ns="http://www.w3.org/1999/xhtml"/>
    </choice>
  </define>
  <define combine="choice" name="Inline.class">
    <ref name="Edit.class" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Inline.class">
    <ref name="applet" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Inline.class">
    <ref name="Formctrl.class" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Inline.class">
    <ref name="Script.class" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Inline.class">
    <ref name="map" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Inline.class">
    <ref name="iframe" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Inline.model">
    <zeroOrMore ns="http://www.w3.org/1999/xhtml">
      <choice ns="http://www.w3.org/1999/xhtml">
        <text ns="http://www.w3.org/1999/xhtml"/>
        <ref name="Inline.class" ns="http://www.w3.org/1999/xhtml"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="Block.mix">
    <ref name="Block.class" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Block.model">
    <oneOrMore ns="http://www.w3.org/1999/xhtml">
      <ref name="Block.mix" ns="http://www.w3.org/1999/xhtml"/>
    </oneOrMore>
  </define>
  <define name="Flow.model">
    <zeroOrMore ns="http://www.w3.org/1999/xhtml">
      <choice ns="http://www.w3.org/1999/xhtml">
        <text ns="http://www.w3.org/1999/xhtml"/>
        <ref name="Inline.class" ns="http://www.w3.org/1999/xhtml"/>
        <ref name="Block.class" ns="http://www.w3.org/1999/xhtml"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="a">
    <element name="a" ns="http://www.w3.org/1999/xhtml">
      <ref name="a.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="a.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="href">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="charset">
        <ref name="Charset.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="type">
        <ref name="ContentType.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="hreflang">
        <ref name="LanguageCode.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="rel">
        <ref name="LinkTypes.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="rev">
        <ref name="LinkTypes.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="accesskey">
        <ref name="Character.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="tabindex">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="a.attlist">
    <ref name="shape.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="coords.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="interleave" name="a.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onblur">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onfocus">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="a.attlist">
    <ref name="target.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="interleave" name="a.attlist">
    <ref name="name.attlist" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="dl">
    <element name="dl" ns="http://www.w3.org/1999/xhtml">
      <ref name="dl.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <oneOrMore ns="http://www.w3.org/1999/xhtml">
        <choice ns="http://www.w3.org/1999/xhtml">
          <ref name="dt" ns="http://www.w3.org/1999/xhtml"/>
          <ref name="dd" ns="http://www.w3.org/1999/xhtml"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="dl.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="dt">
    <element name="dt" ns="http://www.w3.org/1999/xhtml">
      <ref name="dt.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="dt.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="dd">
    <element name="dd" ns="http://www.w3.org/1999/xhtml">
      <ref name="dd.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Flow.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="dd.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="ol">
    <element name="ol" ns="http://www.w3.org/1999/xhtml">
      <ref name="ol.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <oneOrMore ns="http://www.w3.org/1999/xhtml">
        <ref name="li" ns="http://www.w3.org/1999/xhtml"/>
      </oneOrMore>
    </element>
  </define>
  <define name="ol.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="ul">
    <element name="ul" ns="http://www.w3.org/1999/xhtml">
      <ref name="ul.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <oneOrMore ns="http://www.w3.org/1999/xhtml">
        <ref name="li" ns="http://www.w3.org/1999/xhtml"/>
      </oneOrMore>
    </element>
  </define>
  <define name="ul.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="li">
    <element name="li" ns="http://www.w3.org/1999/xhtml">
      <ref name="li.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Flow.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="li.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="List.class">
    <choice ns="http://www.w3.org/1999/xhtml">
      <ref name="ul" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="ol" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="dl" ns="http://www.w3.org/1999/xhtml"/>
    </choice>
  </define>
  <define name="img">
    <element name="img" ns="http://www.w3.org/1999/xhtml">
      <ref name="img.attlist" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="img.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <attribute name="src">
      <ref name="URI.datatype"/>
    </attribute>
    <attribute name="alt">
      <ref name="Text.datatype"/>
    </attribute>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="longdesc">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="height">
        <ref name="Length.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="width">
        <ref name="Length.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="img.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="ismap">
        <value>ismap</value>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="img.attlist">
    <ref name="usemap.attlist" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="interleave" name="img.attlist">
    <ref name="name.attlist" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="base">
    <element name="base" ns="http://www.w3.org/1999/xhtml">
      <ref name="base.attlist" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="base.attlist">
    <attribute name="href">
      <ref name="URI.datatype"/>
    </attribute>
  </define>
  <define combine="interleave" name="base.attlist">
    <ref name="target.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="link">
    <element name="link" ns="http://www.w3.org/1999/xhtml">
      <ref name="link.attlist" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="link.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="charset">
        <ref name="Charset.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="href">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="hreflang">
        <ref name="LanguageCode.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="type">
        <ref name="ContentType.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="rel">
        <ref name="LinkTypes.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="rev">
        <ref name="LinkTypes.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="media">
        <ref name="MediaDesc.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="meta">
    <element name="meta" ns="http://www.w3.org/1999/xhtml">
      <ref name="meta.attlist" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="meta.attlist">
    <ref name="I18n.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="http-equiv">
        <ref name="NMTOKEN.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="name">
        <ref name="NMTOKEN.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="content"/>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="scheme"/>
    </optional>
  </define>
  <define name="param">
    <element name="param" ns="http://www.w3.org/1999/xhtml">
      <ref name="param.attlist" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="param.attlist">
    <ref name="id.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <attribute name="name"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="value"/>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="valuetype">
        <choice>
          <value>data</value>
          <value>ref</value>
          <value>object</value>
        </choice>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="type">
        <ref name="ContentType.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="object">
    <element name="object" ns="http://www.w3.org/1999/xhtml">
      <ref name="object.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <zeroOrMore ns="http://www.w3.org/1999/xhtml">
        <ref name="param" ns="http://www.w3.org/1999/xhtml"/>
      </zeroOrMore>
      <ref name="Flow.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="object.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="declare">
        <value>declare</value>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="classid">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="codebase">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="data">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="type">
        <ref name="ContentType.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="codetype">
        <ref name="ContentType.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="archive">
        <ref name="URIs.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="standby">
        <ref name="Text.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="height">
        <ref name="Length.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="width">
        <ref name="Length.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="name"/>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="tabindex">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="object.attlist">
    <ref name="usemap.attlist" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="bdo">
    <element name="bdo" ns="http://www.w3.org/1999/xhtml">
      <ref name="bdo.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="bdo.attlist">
    <ref name="Core.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="lang.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="dir.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="dir.attrib">
    <attribute name="dir">
      <choice>
        <value>ltr</value>
        <value>rtl</value>
      </choice>
    </attribute>
  </define>
  <define name="hr">
    <element name="hr" ns="http://www.w3.org/1999/xhtml">
      <ref name="hr.attlist" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="hr.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="b">
    <element name="b" ns="http://www.w3.org/1999/xhtml">
      <ref name="b.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="b.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="big">
    <element name="big" ns="http://www.w3.org/1999/xhtml">
      <ref name="big.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="big.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="i">
    <element name="i" ns="http://www.w3.org/1999/xhtml">
      <ref name="i.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="i.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="small">
    <element name="small" ns="http://www.w3.org/1999/xhtml">
      <ref name="small.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="small.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="sub">
    <element name="sub" ns="http://www.w3.org/1999/xhtml">
      <ref name="sub.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="sub.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="sup">
    <element name="sup" ns="http://www.w3.org/1999/xhtml">
      <ref name="sup.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="sup.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="tt">
    <element name="tt" ns="http://www.w3.org/1999/xhtml">
      <ref name="tt.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="tt.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="del">
    <element name="del" ns="http://www.w3.org/1999/xhtml">
      <ref name="del.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="del.attlist">
    <ref name="Edit.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="ins">
    <element name="ins" ns="http://www.w3.org/1999/xhtml">
      <ref name="ins.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="ins.attlist">
    <ref name="Edit.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Edit.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="cite">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="datetime">
        <ref name="Datetime.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="Edit.class">
    <choice ns="http://www.w3.org/1999/xhtml">
      <ref name="del" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="ins" ns="http://www.w3.org/1999/xhtml"/>
    </choice>
  </define>
  <define name="applet">
    <element name="applet" ns="http://www.w3.org/1999/xhtml">
      <ref name="applet.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <zeroOrMore ns="http://www.w3.org/1999/xhtml">
        <ref name="param" ns="http://www.w3.org/1999/xhtml"/>
      </zeroOrMore>
      <ref name="Flow.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="applet.attlist">
    <ref name="Core.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <attribute name="alt">
      <ref name="Text.datatype"/>
    </attribute>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="archive"/>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="code"/>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="codebase">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="object"/>
    </optional>
    <attribute name="height">
      <ref name="Length.datatype"/>
    </attribute>
    <attribute name="width">
      <ref name="Length.datatype"/>
    </attribute>
  </define>
  <define combine="interleave" name="applet.attlist">
    <ref name="name.attlist" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="interleave" name="form.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="accept-charset">
        <ref name="Charsets.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="accept">
        <ref name="ContentTypes.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="form.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <attribute name="action">
      <ref name="URI.datatype"/>
    </attribute>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="method">
        <choice>
          <value>get</value>
          <value>post</value>
        </choice>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="enctype">
        <ref name="ContentType.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="form.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onreset">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onsubmit">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="form.attlist">
    <ref name="target.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="interleave" name="form.attlist">
    <ref name="name.attlist" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="interleave" name="input.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="disabled">
        <value>disabled</value>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="readonly">
        <value>readonly</value>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="alt"/>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="tabindex">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="accept">
        <ref name="ContentTypes.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="input.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="type">
        <ref name="InputType.class"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="name"/>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="value"/>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="checked">
        <value>checked</value>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="size"/>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="maxlength">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="src">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="accesskey">
        <ref name="Character.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="input.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onblur">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onchange">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onfocus">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onselect">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="choice" name="InputType.class">
    <choice ns="http://www.w3.org/1999/xhtml">
      <value ns="http://www.w3.org/1999/xhtml">image</value>
      <value ns="http://www.w3.org/1999/xhtml">button</value>
    </choice>
  </define>
  <define name="InputType.class">
    <choice>
      <value>text</value>
      <value>password</value>
      <value>checkbox</value>
      <value>radio</value>
      <value>submit</value>
      <value>reset</value>
      <value>hidden</value>
    </choice>
  </define>
  <define combine="interleave" name="select.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="disabled">
        <value>disabled</value>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="tabindex">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="select.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="name"/>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="size">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="multiple">
        <value>multiple</value>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="select.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onblur">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onchange">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onfocus">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="option.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="disabled">
        <value>disabled</value>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="label">
        <ref name="Text.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="optgroup">
    <element name="optgroup" ns="http://www.w3.org/1999/xhtml">
      <ref name="optgroup.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <oneOrMore ns="http://www.w3.org/1999/xhtml">
        <ref name="option" ns="http://www.w3.org/1999/xhtml"/>
      </oneOrMore>
    </element>
  </define>
  <define name="optgroup.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="disabled">
        <value>disabled</value>
      </attribute>
    </optional>
    <attribute name="label">
      <ref name="Text.datatype"/>
    </attribute>
  </define>
  <define combine="interleave" name="textarea.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="disabled">
        <value>disabled</value>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="readonly">
        <value>readonly</value>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="tabindex">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="textarea.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="name"/>
    </optional>
    <attribute name="rows">
      <ref name="Number.datatype"/>
    </attribute>
    <attribute name="cols">
      <ref name="Number.datatype"/>
    </attribute>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="accesskey">
        <ref name="Character.datatype"/>
      </attribute>
    </optional>
    <text ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="interleave" name="textarea.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onblur">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onchange">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onfocus">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onselect">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="fieldset">
    <element name="fieldset" ns="http://www.w3.org/1999/xhtml">
      <ref name="fieldset.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="legend" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Flow.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="fieldset.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="button">
    <element name="button" ns="http://www.w3.org/1999/xhtml">
      <ref name="button.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Flow.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="button.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="name"/>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="value"/>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="type">
        <choice>
          <value>button</value>
          <value>submit</value>
          <value>reset</value>
        </choice>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="disabled">
        <value>disabled</value>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="tabindex">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="accesskey">
        <ref name="Character.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="button.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onblur">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onfocus">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="legend">
    <element name="legend" ns="http://www.w3.org/1999/xhtml">
      <ref name="legend.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="legend.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="accesskey">
        <ref name="Character.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="choice" name="Form.class">
    <ref name="fieldset" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Form.class">
    <ref name="form" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="choice" name="Formctrl.class">
    <ref name="button" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Formctrl.class">
    <choice ns="http://www.w3.org/1999/xhtml">
      <ref name="input" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="label" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="select" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="textarea" ns="http://www.w3.org/1999/xhtml"/>
    </choice>
  </define>
  <define name="form">
    <element name="form" ns="http://www.w3.org/1999/xhtml">
      <ref name="form.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <oneOrMore ns="http://www.w3.org/1999/xhtml">
        <ref name="Block.class" ns="http://www.w3.org/1999/xhtml"/>
      </oneOrMore>
    </element>
  </define>
  <define name="label">
    <element name="label" ns="http://www.w3.org/1999/xhtml">
      <ref name="label.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="label.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="for">
        <ref name="IDREF.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="accesskey">
        <ref name="Character.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="label.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onblur">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onfocus">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="input">
    <element name="input" ns="http://www.w3.org/1999/xhtml">
      <ref name="input.attlist" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="select">
    <element name="select" ns="http://www.w3.org/1999/xhtml">
      <ref name="select.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <oneOrMore ns="http://www.w3.org/1999/xhtml">
        <choice ns="http://www.w3.org/1999/xhtml">
          <ref name="option" ns="http://www.w3.org/1999/xhtml"/>
          <ref name="optgroup" ns="http://www.w3.org/1999/xhtml"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="option">
    <element name="option" ns="http://www.w3.org/1999/xhtml">
      <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
      <optional ns="http://www.w3.org/1999/xhtml">
        <attribute name="selected">
          <value>selected</value>
        </attribute>
      </optional>
      <optional ns="http://www.w3.org/1999/xhtml">
        <attribute name="value"/>
      </optional>
      <text ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="textarea">
    <element name="textarea" ns="http://www.w3.org/1999/xhtml">
      <ref name="textarea.attlist" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="style">
    <element name="style" ns="http://www.w3.org/1999/xhtml">
      <ref name="style.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <text ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="style.attlist">
    <ref name="title.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="I18n.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <attribute name="type">
      <ref name="ContentType.datatype"/>
    </attribute>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="media">
        <ref name="MediaDesc.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="xml:space">
        <value>preserve</value>
      </attribute>
    </optional>
  </define>
  <define name="script">
    <element name="script" ns="http://www.w3.org/1999/xhtml">
      <ref name="script.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <text ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="script.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="charset">
        <ref name="Charset.datatype"/>
      </attribute>
    </optional>
    <attribute name="type">
      <ref name="ContentType.datatype"/>
    </attribute>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="src">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="defer">
        <value>defer</value>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="xml:space">
        <value>preserve</value>
      </attribute>
    </optional>
  </define>
  <define name="noscript">
    <element name="noscript" ns="http://www.w3.org/1999/xhtml">
      <ref name="noscript.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Block.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="noscript.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Script.class">
    <choice ns="http://www.w3.org/1999/xhtml">
      <ref name="noscript" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="script" ns="http://www.w3.org/1999/xhtml"/>
    </choice>
  </define>
  <define combine="interleave" name="table.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="width">
        <ref name="Length.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="border">
        <ref name="Pixels.datatype"/>
      </attribute>
    </optional>
    <ref name="frame.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="rules.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="cellspacing">
        <ref name="Length.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="cellpadding">
        <ref name="Length.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="table.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="summary">
        <ref name="Text.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="col">
    <element name="col" ns="http://www.w3.org/1999/xhtml">
      <ref name="col.attlist" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="col.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="span">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="width">
        <ref name="MultiLength.datatype"/>
      </attribute>
    </optional>
    <ref name="CellHAlign.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="CellVAlign.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="colgroup">
    <element name="colgroup" ns="http://www.w3.org/1999/xhtml">
      <ref name="colgroup.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <zeroOrMore ns="http://www.w3.org/1999/xhtml">
        <ref name="col" ns="http://www.w3.org/1999/xhtml"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="colgroup.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="span">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="width">
        <ref name="MultiLength.datatype"/>
      </attribute>
    </optional>
    <ref name="CellHAlign.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="CellVAlign.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="tbody">
    <element name="tbody" ns="http://www.w3.org/1999/xhtml">
      <ref name="tbody.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <oneOrMore ns="http://www.w3.org/1999/xhtml">
        <ref name="tr" ns="http://www.w3.org/1999/xhtml"/>
      </oneOrMore>
    </element>
  </define>
  <define name="tbody.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="CellHAlign.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="CellVAlign.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="thead">
    <element name="thead" ns="http://www.w3.org/1999/xhtml">
      <ref name="thead.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <oneOrMore ns="http://www.w3.org/1999/xhtml">
        <ref name="tr" ns="http://www.w3.org/1999/xhtml"/>
      </oneOrMore>
    </element>
  </define>
  <define name="thead.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="CellHAlign.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="CellVAlign.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="tfoot">
    <element name="tfoot" ns="http://www.w3.org/1999/xhtml">
      <ref name="tfoot.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <oneOrMore ns="http://www.w3.org/1999/xhtml">
        <ref name="tr" ns="http://www.w3.org/1999/xhtml"/>
      </oneOrMore>
    </element>
  </define>
  <define name="tfoot.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="CellHAlign.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="CellVAlign.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="frame.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="frame">
        <choice>
          <value>void</value>
          <value>above</value>
          <value>below</value>
          <value>hsides</value>
          <value>lhs</value>
          <value>rhs</value>
          <value>vsides</value>
          <value>box</value>
          <value>border</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="frame.attrib">
    <ref name="name.attlist" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="rules.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="rules">
        <choice>
          <value>none</value>
          <value>groups</value>
          <value>rows</value>
          <value>cols</value>
          <value>all</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="table">
    <element name="table" ns="http://www.w3.org/1999/xhtml">
      <ref name="table.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <optional ns="http://www.w3.org/1999/xhtml">
        <ref name="caption" ns="http://www.w3.org/1999/xhtml"/>
      </optional>
      <choice ns="http://www.w3.org/1999/xhtml">
        <zeroOrMore ns="http://www.w3.org/1999/xhtml">
          <ref name="col" ns="http://www.w3.org/1999/xhtml"/>
        </zeroOrMore>
        <zeroOrMore ns="http://www.w3.org/1999/xhtml">
          <ref name="colgroup" ns="http://www.w3.org/1999/xhtml"/>
        </zeroOrMore>
      </choice>
      <choice ns="http://www.w3.org/1999/xhtml">
        <group ns="http://www.w3.org/1999/xhtml">
          <optional ns="http://www.w3.org/1999/xhtml">
            <ref name="thead" ns="http://www.w3.org/1999/xhtml"/>
          </optional>
          <optional ns="http://www.w3.org/1999/xhtml">
            <ref name="tfoot" ns="http://www.w3.org/1999/xhtml"/>
          </optional>
          <oneOrMore ns="http://www.w3.org/1999/xhtml">
            <ref name="tbody" ns="http://www.w3.org/1999/xhtml"/>
          </oneOrMore>
        </group>
        <oneOrMore ns="http://www.w3.org/1999/xhtml">
          <ref name="tr" ns="http://www.w3.org/1999/xhtml"/>
        </oneOrMore>
      </choice>
    </element>
  </define>
  <define name="caption">
    <element name="caption" ns="http://www.w3.org/1999/xhtml">
      <ref name="caption.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Inline.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="caption.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="tr">
    <element name="tr" ns="http://www.w3.org/1999/xhtml">
      <ref name="tr.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <oneOrMore ns="http://www.w3.org/1999/xhtml">
        <choice ns="http://www.w3.org/1999/xhtml">
          <ref name="th" ns="http://www.w3.org/1999/xhtml"/>
          <ref name="td" ns="http://www.w3.org/1999/xhtml"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="tr.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="CellHAlign.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="CellVAlign.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="th">
    <element name="th" ns="http://www.w3.org/1999/xhtml">
      <ref name="th.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Flow.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="th.attlist">
    <ref name="Cell.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="td">
    <element name="td" ns="http://www.w3.org/1999/xhtml">
      <ref name="td.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Flow.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="td.attlist">
    <ref name="Cell.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="Cell.attrib">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="abbr">
        <ref name="Text.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="axis"/>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="headers">
        <ref name="IDREFS.datatype"/>
      </attribute>
    </optional>
    <ref name="scope.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="rowspan">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="colspan">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
    <ref name="CellHAlign.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="CellVAlign.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="CellHAlign.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
          <value>justify</value>
          <value>char</value>
        </choice>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="char">
        <ref name="Character.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="charoff">
        <ref name="Length.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="CellVAlign.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="valign">
        <choice>
          <value>top</value>
          <value>middle</value>
          <value>bottom</value>
          <value>baseline</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="scope.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="scope">
        <choice>
          <value>row</value>
          <value>col</value>
          <value>rowgroup</value>
          <value>colgroup</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="area">
    <element name="area" ns="http://www.w3.org/1999/xhtml">
      <ref name="area.attlist" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="area.attlist">
    <ref name="Common.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="href">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
    <ref name="shape.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <ref name="coords.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="nohref">
        <value>nohref</value>
      </attribute>
    </optional>
    <attribute name="alt">
      <ref name="Text.datatype"/>
    </attribute>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="tabindex">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="accesskey">
        <ref name="Character.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="area.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onblur">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onfocus">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="area.attlist">
    <ref name="target.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="map">
    <element name="map" ns="http://www.w3.org/1999/xhtml">
      <ref name="map.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <oneOrMore ns="http://www.w3.org/1999/xhtml">
        <choice ns="http://www.w3.org/1999/xhtml">
          <ref name="Block.class" ns="http://www.w3.org/1999/xhtml"/>
          <ref name="area" ns="http://www.w3.org/1999/xhtml"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="map.attlist">
    <ref name="CommonIdRequired.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define combine="interleave" name="map.attlist">
    <ref name="name.attlist" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="usemap.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="usemap">
        <ref name="IDREF.datatype"/>
      </attribute>
    </optional>
  </define>
  <define name="shape.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="shape">
        <choice>
          <value>rect</value>
          <value>circle</value>
          <value>poly</value>
          <value>default</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="coords.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="coords"/>
    </optional>
  </define>
  <define name="Events.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onclick">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="ondblclick">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onmousedown">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onmouseup">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onmouseover">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onmousemove">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onmouseout">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onkeypress">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onkeydown">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="onkeyup">
        <ref name="Script.datatype"/>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="link.attrib">
    <ref name="target.attrib" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="target.attrib">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="target"/>
    </optional>
  </define>
  <define name="iframe">
    <element name="iframe" ns="http://www.w3.org/1999/xhtml">
      <ref name="iframe.attlist" ns="http://www.w3.org/1999/xhtml"/>
      <ref name="Flow.model" ns="http://www.w3.org/1999/xhtml"/>
    </element>
  </define>
  <define name="iframe.attlist">
    <ref name="Core.attrib" ns="http://www.w3.org/1999/xhtml"/>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="longdesc">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="src">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="frameborder">
        <choice>
          <value>1</value>
          <value>0</value>
        </choice>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="width">
        <ref name="Length.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="height">
        <ref name="Length.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="marginwidth">
        <ref name="Pixels.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="marginheight">
        <ref name="Pixels.datatype"/>
      </attribute>
    </optional>
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="scrolling">
        <choice>
          <value>yes</value>
          <value>no</value>
          <value>auto</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define combine="interleave" name="iframe.attlist">
    <ref name="name.attlist" ns="http://www.w3.org/1999/xhtml"/>
  </define>
  <define name="name.attlist">
    <optional ns="http://www.w3.org/1999/xhtml">
      <attribute name="name"/>
    </optional>
  </define>
</grammar>