jedit/jedit-workbench/src/main/resources/samples/bonxai/setoperations/tools/EDCFixerTest/EDCFixerTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="A" xmlns:A="A">
  
  <xs:element name="foo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="bar" type="A:moo" form="qualified"/>
        <xs:element name="bar" type="xs:integer"/>
        <xs:element name="bar" type="xs:integer" form="qualified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="moo">
    <xs:list itemType="A:dates"/>
  </xs:simpleType>
  
  <xs:simpleType name="dates">
    <xs:union memberTypes="xs:gYear xs:gMonth"/>
  </xs:simpleType>
  
</xs:schema>