bonxai/src/test/java/de/tudortmund/cs/bonxai/xsd/parser/xsds/elementTests/element_valid_element.xsd

<schema targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">

  <element name="comment" type="string" abstract="true"/>

  <element name="shipComment" type="string" substitutionGroup="comment" fixed="bod" final="restriction extension"/>
  
  <element name="shipment">
    <complexType>
      <sequence>
        <element name="order" type="string" id="order" nillable="false" form="unqualified" block="restriction extension substitution" default="bob"/>
      </sequence>
    </complexType>
  </element>

</schema>