bonxai/src/test/java/de/tudortmund/cs/bonxai/converter/xsd2relaxng/preparationTests/any/ElementWithoutType.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="testElement"/>
    <xs:element name="ElementTwo">
        <xs:complexType>
            <xs:choice>
                <xs:element name="anyElement"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="anyElement2"/>
</xs:schema>
