bonxai/src/test/java/de/tudortmund/cs/bonxai/xsd/parser/xsds/processorTests/processor_getname_node.xsd

<schema targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="complexTypeOne" abstract="true" id="id" mixed="true" block="extension restriction" final="extension restriction">
    <complexContent>
      <restriction base="anyType">
        <attribute name="currency" type="string"/>
        <attribute name="value"    type="decimal"/>
      </restriction>
    </complexContent>
  </complexType>
</schema>