bonxai/src/test/resources/tests/eu/fox7/bonxai/xsd/parser/xsds/groupTests/group_minOccurs_greater_than_maxOccurs.xsd

<schema targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">

  <group name="first"  id="first">
    <all>
      <element name="shipTo" type="USAddress"/>
      <element name="billTo" type="USAddress"/>
    </all>
  </group>

  <complexType name="root">
    <group ref="first" id="firstRef" minOccurs="30" maxOccurs="20" />
  </complexType>

</schema>