bonxai/src/test/resources/tests/eu/fox7/bonxai/converter/relaxng2xsd/PatternElementConverterTest/element_30.rng

<?xml version="1.0" encoding="UTF-8"?>
<element xmlns="http://relaxng.org/ns/structure/1.0" name="root">
  <grammar>
    <start>
      <grammar>
        <start>
          <parentRef name="ref"/>
        </start>
      </grammar>
    </start>
    <define name="ref">
      <element name="bob">
        <empty/>
      </element>
    </define>
  </grammar>
</element>
