bonxai/src/test/resources/tests/eu/fox7/bonxai/converter/relaxng2xsd/PatternElementConverterTest/element_18.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element xmlns="http://relaxng.org/ns/structure/1.0" name="root">
      <ref name="ref"/>
    </element>
  </start>
  <define name="ref">
    <element name="bob">
      <empty/>
    </element>
    <element name="bab">
      <empty/>
    </element>
  </define>
</grammar>
