bonxai/src/test/java/de/tudortmund/cs/bonxai/xsd/parser/xsds/groupTests/group_empty_id_groupRef.xsd

<schema targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">

  <group name="first"  id="first">
    <all>
      <element name="shipTo" type="USAddress"/>
      <element name="billTo" type="USAddress"/>
    </all>
  </group>

  <complexType name="root">
    <group ref="first" id="" minOccurs="10" maxOccurs="20" />
  </complexType>

</schema>