bonxai/src/test/resources/tests/eu/fox7/bonxai/relaxng/parser/rngs/test.xml

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
        <grammar xmlns="http://relaxng.org/ns/structure/1.0">
            <start combine="choice">
                <element name="addressBook">
                    <rng:zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
                        <element name="card">
                            <rng:ref name="card.attlist"/>
                        </element>
                    </rng:zeroOrMore>
                </element>
            </start>
            <start>
                <element name="addressBook">
                    <zeroOrMore>
                        <element name="card">
                            <ref name="card.attlist"/>
                        </element>
                    </zeroOrMore>
                </element>
            </start>
            <div>
                <define name="card.attlist" combine="interleave">
                    <attribute name="name">
                        <parentRef name="test" />
                    </attribute>
                </define>
            </div>
            <define name="card.attlist" combine="interleave">
                <attribute name="email">
                    <text/>
                </attribute>
            </define>
        </grammar>
    </start>
    <define name="test">
        <empty/>
    </define>
    <define name="test2">
        <element>
            <anyName>
                <except>
                    <nsName/>
                    <nsName ns="http://www.w3.org/1999/xhtml"/>
                </except>
            </anyName>
            <zeroOrMore>
                <choice>
                    <text/>
                    <data type="string">
                        <except>
                            <empty/>
                            <text/>
                        </except>
                    </data>
                </choice>
            </zeroOrMore>
        </element>
    </define>
</grammar>
