bonxai/src/test/java/de/tudortmund/cs/bonxai/xsd/tools/interleaveHandlerTests/interleave1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="base">
        <xs:all>
            <xs:choice>
                <xs:element name="a"/>
                <xs:element name="b"/>
            </xs:choice>
            <xs:sequence>
                <xs:element name="c"/>
                <xs:element name="d"/>
                <xs:all>
                    <xs:element name="e"/>
                    <xs:element name="f"/>
                </xs:all>
            </xs:sequence>
        </xs:all>
    </xs:complexType>

</xs:schema>
