bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/relaxng/tools/rngs/choiceOfContent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="bob">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" ref="alice"/>
      </xs:sequence>
      <xs:attribute name="name">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:length value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="alice">
    <xs:complexType/>
  </xs:element>
</xs:schema>
