bonxai/src/test/resources/tests/de/tudortmund/cs/bonxai/relaxng/tools/rngs/problem_with_text.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="start">
            <element name="a">
                <text/>
                <element name="blub">
                    <empty/>
                </element>
            </element>
        </element>
    </start>
</grammar>
