jedit/jedit-workbench/src/main/resources/samples/bonxai/setoperations/union/xsds/testGenerateUnionC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="A" xmlns:A="A">

  <xs:element name="elementA" type="A:complexTypeA"/>

  <xs:element name="elementE" type="xs:integer"/>

  <xs:attribute name="attributeC" type="xs:string"/>

  <xs:complexType name="complexTypeA">
    <xs:choice>
      <xs:element name="elementB" type="A:complexTypeE"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="complexTypeE">
    <xs:sequence>
      <xs:element name="elementA" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
